.show-modal {
  animation: showing-modal 400ms linear; }

.hide-modal {
  animation: hiding-modal 400ms linear; }

@keyframes showing-modal {
  0% {
    background-color: rgba(0, 0, 0, 0); }
  100% {
    background-color: rgba(0, 0, 0, 0.35); } }

@keyframes hiding-modal {
  0% {
    background-color: rgba(0, 0, 0, 0.35); }
  100% {
    background-color: rgba(0, 0, 0, 0); } }

.show-popup {
  transform-origin: 50% 0;
  animation: showing-popup 400ms ease-out; }

@keyframes showing-popup {
  from {
    opacity: 0;
    transform: scaleY(0); }
  to {
    opacity: 1;
    transform: scaleY(1); } }
