/* link */
/* header */
/* dialog, drawer, modal-pan */
/*
$cFlatBt, $cCompBorder,
$cCircleBt, $cCloseBt
*/
.bt__card {
  color: darkcyan;
  text-transform: none;
}

.bt-circle {
  color: #9e9e9e;
  background-color: #1b2836;
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 8px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.bt-svg-close {
  stroke: #d64336;
  stroke-width: 2px;
  stroke-linecap: round;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  cursor: pointer;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}
.bt-svg-close:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg) scale(1.3, 1.3) translateY(-3px);
}

.bt-svg-more {
  fill: #1b2836;
  stroke: #1b2836;
  vertical-align: middle;
  padding-left: 6px;
  padding-right: 6px;
}

.not-selected {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome all / Safari all / Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}