
.container-list {
  display: flex;
  flex-wrap: wrap;
}

.modal-root {
  z-index: 1250;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  opacity: 1;
  background: rgba(0,0,0, 0.3) none repeat scroll 0% 0%;
  outline: 0px none;
}
