
.drawer-bt {
  flex: 0 0 auto;
  width: 48px;
  color: #1b2836;
  /*color: rgba(0, 0, 0, 0.54);*/
  height: 48px;
  padding: 0;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;

  /*color: inherit;*/
  cursor: pointer;
  margin: 0;
  border: 0;
  display: inline-flex;
  padding: 0;
  outline: none;
  position: relative;
  user-select: none;
  align-items: center;
  border-radius: 0;
  vertical-align: middle;
  justify-content: center;
  -moz-appearance: none;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.drawer-span {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}
.drawer-svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
}

.drawer {
  width: 240px;
  background-color: #fff;

  /*
  left: 0;
  right: auto;
  */
  left: auto;
  right: 0;

  top: 0;
  flex: 1 0 auto;
  height: 100vh;
  display: flex;
  z-index: 1200;
  outline: none;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;

  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.drawer-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  /*z-index: 1000;*/
  position: fixed;
  touch-action: none;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-tap-highlight-color: transparent;

  will-change: opacity;
}

.drawer__list {
  height: 100%;
  border-left: 1px solid darkcyan;
}
.drawer__list-bt {
  width: 100%;
  text-align: left;
  padding-left: 16px;
}

.drawer__msg-ul {
  list-style-type: none;
  padding-top: 8px;
}
.drawer__msg-li {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 4px;
  background-color: #607d8b;
  line-height: 2.2
}
.drawer__msg-bt {
  width: 100%;
  color: azure;
  font-weight: 600;
  text-align: left;
}
