/* link */
/* header */
/* dialog, drawer, modal-pan */
/*
$cCompBorder
*/
textarea {
  background-color: #9e9e9e;
  border: 1px solid #9e9e9e;
  border-radius: 2px;
  padding: 8px;
  font-size: 18px;
  resize: none; }

.input-text {
  border: none;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  display: inline-block;
  background-color: transparent;
  max-width: 150px;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.input-text:focus,
.input-text:hover {
  border: 1px solid darkcyan; }
