/* link */
/* header */
/* dialog, drawer, modal-pan */
/*
$cLink
*/
a, a:visited {
  color: #2196f3;
  font-weight: 600;
  border-bottom: thin solid;
  text-decoration: none;
}

a:hover {
  border-bottom-width: medium;
}

.nav-link {
  display: inline-block;
  height: 20px;
}