/* modal-pane */
/*
container, drawer
modal-dialog, modal-pane
*/
/*
$shDialog
*/
.modal-dialog {
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 6px;
  background-color: #4d4d4d;
  border: solid 2px #607d8b;
  position: relative;
  top: 10%;
  display: block;
  width: 350px;
  height: 150px;
  margin: auto;
  border-radius: 5px; }

.md__actions {
  position: absolute;
  right: 16px;
  bottom: 0;
  margin-top: 8px;
  margin-bottom: 10px;
  cursor: default; }

.md-settings {
  width: 300px;
  height: 200px; }

.md-details {
  width: 300px;
  height: 280px; }
  .md-details__descr {
    margin-left: 14px;
    width: 90%;
    height: 135px; }
