@import 'variables/colors';
@import 'variables/backgrounds';

/*
$cFlatBt
*/

/*
$bgBt: rgba(0, 0, 0, 0);
$bgBtFocus: rgba(120, 120, 120, 0.2);
*/

.bt-flat {
  color: $cFlatBt;
  background-color: $bgBt;
  border: 10px;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  outline: none;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    outline: 0;
  }
  &:focus {
    background-color: $bgBtFocus;
  }

  &__div {
    background-color: $bgBt;
    top: 0;
    height: 36px;
    border-radius: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    &:hover {
      background-color: $bgBtFocus;
    }
  }

  &__span {
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
    opacity: 1;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
  }
}
