@import 'variables/colors';

/*
$cTitle
*/

$bg-header: #4d4d4d;

nav {
  display: inline-block;
}

@mixin logo(){
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: default;
}

.header {
  background-color: $bg-header;
  width: 100%;
  min-height: 36px;
  padding-top: 8px;
  padding-bottom: 4px;
  padding-left: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.6);

  &__logo-notes {
    @include logo();
    position: absolute;
    top: 7px;
    left: 12px;
  }
  &__title-gap {
    display: inline-block;
    margin-left: 38px;
  }
  &__title {
    color: $cTitle;
    display: inline-block;
    padding-right: 4px;
    font-size: 16px;
    font-weight: bold;
  }

  &-board__logo_notes {
    @include logo();
    position: relative;
    top: -4px;
    left: -2px;
    margin-right: 4px;
  }
}

@media screen and (max-width: 500px) {
 .header-board__title {
   display: none;
 }
}
