@import 'variables/colors';

/*
$cCompBorder
*/

.input-text {
  border: none;
  border-bottom-color: $cCompBorder;
  border-bottom-style: groove;
  border-bottom-width: 2px;

  display: inline-block;
  background-color: transparent;
  max-width: 150px;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.input-text:focus,
.input-text:hover {
  border: 1px solid $cCompBorder;
}
