@import 'variables/colors';
@import 'variables/shadows';
@import 'variables/zindex';

/*
$bgNotification

$shDialog
*/

.modal-pane {
  z-index: z('modal-pane');
  border: solid 2px $bgNotification;
  box-shadow: $shDialog;
  display: block;
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 2px;
  border-radius: 5px;  
  overflow: hidden;
}
