@import 'variables/shadows';
@import 'variables/zindex';

/*
$shDialog
*/

$bg-md: #4d4d4d;
$c-md-border: #607d8b;

.modal-dialog {
  z-index: z('modal-dialog');
  box-shadow: $shDialog;
  background-color: $bg-md;
  border: solid 2px $c-md-border;
  position: relative;
  display: block;
  width: 350px;
  height: 150px;
  margin: 40 auto 0 auto;
  border-radius: 5px;
}

.md__actions {
  position: absolute;
  right: 16px;
  bottom: 0;
  margin-top: 8px;
  margin-bottom: 10px;
  cursor: default;
}

.md-settings {
  width: 300px;
  height: 200px;
}
.md-details {
  width: 300px;
  height: 310px;

  &__descr {
    margin-left: 14px;
    width: 90%;
    height: 135px;
  }
}
