
$bg-md: #4d4d4d;
$c-md-border: #607d8b;

.modal-dialog {
  background-color: $bg-md;
  border: solid 2px $c-md-border;

  position: relative;
  top: 10%;
  display: block;
  width: 350px;
  height: 150px;
  margin: auto;
  z-index: 10;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 6px;
}

.md__actions {
  position: absolute;
  right: 16px;
  bottom: 0;
  margin-top: 8px;
  margin-bottom: 10px;
  cursor: default;
}

.md-settings {
  width: 300px;
  height: 200px;
}
