$cFlatBt: #1b2836;
$cCircleBt: #9e9e9e;
$cCloseBt: #d64336;
$cCompBorder: darkcyan;
/* link */
$cLink: #2196f3;
/* header */
$cTitle: #80c040;
/* dialog, drawer, modal-pan */
$cNotification: azure;
$bgNotification: #607d8b;
